// color variants
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "themes-vars.module.scss";

// third-party
@import "~react-perfect-scrollbar/dist/css/styles.css";

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
  z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
  margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
  .ps__rail-y {
    &:hover > .ps__thumb-y,
    &:focus > .ps__thumb-y,
    &.ps--clicking .ps__thumb-y {
      background-color: $grey500;
      width: 5px;
    }
  }
  .ps__thumb-y {
    background-color: $grey500;
    border-radius: 6px;
    width: 5px;
    right: 0;
  }
}

.scrollbar-container.ps,
.scrollbar-container > .ps {
  &.ps--active-y > .ps__rail-y {
    width: 5px;
    background-color: transparent !important;
    z-index: 999;
    &:hover,
    &.ps--clicking {
      width: 5px;
      background-color: transparent;
    }
  }
  &.ps--scrolling-y > .ps__rail-y,
  &.ps--scrolling-x > .ps__rail-x {
    opacity: 0.4;
    background-color: transparent;
  }
}

.css-3r5omo-MuiGrid-root {
  margin-top: 10px;
}

.css-1l8n1ui-MuiPaper-root-MuiAppBar-root {
  height: 10% !important;
}

// .MuiPopper-root {
//   transform: translate(-130px, 60px) !important;
// }

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes slideY {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes slideX {
  0%,
  50%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}

.css-9drkqd-MuiGrid-root {
  padding-top: 0px !important;
}

.css-1hqxfpk-MuiDataGrid-root {
  border: none;
  //   border-radius: 12px !important;
}

.css-1iyq7zh-MuiDataGrid-columnHeaders {
  background-color: #eef2f6;
  min-height: 60px !important;
  max-height: 60px !important;
  line-height: 60px !important;
  border-radius: 4px !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
  justify-content: flex-start;
}

// .MuiDataGrid-row {
//   max-height: 58px !important;
//   min-height: 58px !important;
// }

.css-axafay-MuiDataGrid-virtualScroller::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.css-axafay-MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.css-axafay-MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.css-axafay-MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

// .css-wop1k0-MuiDataGrid-footerContainer {
//   height: 20px;
// }
.css-17pmaar-MuiCardContent-root {
  padding-bottom: 0 !important;
}

.css-1bxrt21 {
  padding-top: 0 !important;
  margin-top: 12px;
  // border-top: none;
  border: none !important;
}

.css-18yaaxc {
  cursor: pointer;
}

.css-18yaaxc:hover {
  background-color: #f1f1f1 !important;
}

// .css-8ybyx8-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
//   width: 20%;
//   left: 900px !important;
// }

.css-y599qu {
  min-height: 65px !important;
  max-height: 65px !important;
  line-height: 56px;
  align-items: center;
  background-color: #eef2f6;
  border: none;
}

.css-g1ne49 {
  width: 20% !important;
  left: 900px !important;
}

// .MuiDataGrid-cell {
//   justify-content: center !important;
// }

.css-g8plc8-MuiListItem-root:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.css-1a6bxpb-MuiButtonBase-root-MuiButton-root {
  background-color: none !important;
}

.ant-modal-content button,
.ant-modal-content [type="button"] {
  background-color: none !important;
}

.css-sox5kk-MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.scrollable-container {
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}

.stage-container {
  position: relative;
}

.scrollable-stage {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 20px;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
}

/* Target the scrollbar */
.scrollable-stage::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
  height: 12px;
}

/* Style the thumb */
.scrollable-stage::-webkit-scrollbar-thumb {
  background-color: gray; /* Set the background color of the thumb */
  border-radius: 5px; /* Set the radius of the thumb */
}

/* Style the track */
.scrollable-stage::-webkit-scrollbar-track {
  background-color: lightgray; /* Set the background color of the track */
}

canvas {
  background: rgba(120, 89, 89, 0.431) !important;
  border-radius: 10px !important;
}

// .ant-modal-content {
//   margin-top: 15%;
// }
.ant-btn-primary {
  background-color: #3d8bd9 !important;
  border-radius: 20px;
}

.ant-btn-default {
  background-color: #21bb16 !important;
  border-radius: 20px;
  color: #fff;
}

.reactEasyCrop_CropArea {
  width: 300px !important;
  height: 350px !important;
}

.swal-custom {
  z-index: 9999;
}

.swal2-container {
  z-index: 10000 !important;
}

.radio-check form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.radio-check label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
  margin-left: 15px;
}

.radio-check label input {
  position: absolute;
  left: -9999px;
}

.radio-check label input:checked + span {
  background-color: #414181;
  color: white;
}

.radio-check label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

.radio-check label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: #414181;
}

.radio-check label span:hover {
  background-color: #d6d6e5;
}

.radio-check label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  margin-top: -0.3em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

.css-1ouhze6-MuiButtonBase-root-MuiButton-root {
  background: #5e35b1;
  border-radius: 18px;
}

.css-1ouhze6-MuiButtonBase-root-MuiButton-root:hover {
  outline: 3px solid #5e35b1; /* Sets the outline style */
  outline-offset: 1px; /* Sets the outline offset */
}

.css-14aglok-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: #fff;
}

.css-14aglok-MuiButtonBase-root-MuiListItemButton-root.Mui-selected
  .css-1nymi19-MuiListItemIcon-root {
  svg {
    color: #000 !important;
  }
}

.css-1ul58bt {
  background: rgb(103, 58, 183);
  border-radius: 20px;
}

.css-1ul58bt:hover {
  outline: 3px solid rgb(103, 58, 183);
  outline-offset: 1px;
}

.css-m381cg .Mui-selected .MuiListItemIcon-root svg {
  color: #000 !important;
}
