.btn-create {
  background: #6225e6;
  color: white;
  font-family: inherit;
  padding: 0.3em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 600;
  border-radius: 0.7em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.btn-create .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.btn-create:hover .icon {
  width: calc(100% - 0.6em);
}

.btn-create .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.btn-create:hover .icon svg {
  transform: translateX(0.1em);
}

.btn-create:active .icon {
  transform: scale(0.95);
}
