.btn-send {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: rgb(217, 16, 6);
  color: white;
  padding: 0.8em 1.1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 26px;
  overflow: hidden;
  transition: all 0.2s;
}

.btn-send span {
  display: block;
  margin-left: 0.3em;
  font-weight: 550;
  transition: all 0.3s ease-in-out;
}

.btn-send svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn-send:hover .btn-send__svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-send:hover svg {
  transform: translateX(2.5em) rotate(45deg) scale(1.1);
}

.btn-send:hover span {
  transform: translateX(6em);
}

.btn-send:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
