.card {
  width: 500px;
  height: 350px;
  background: white;
  border-radius: 30px;
  box-shadow: 15px 15px 30px #a37e7e, -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 35%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: linear-gradient(#d5389b, #e980bf);
  display: flex;
  align-items: top;
  justify-content: right;
}

.save {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.save .svg {
  transition: 0.2s ease-in-out;
  width: 15px;
  height: 15px;
}

.icon-box {
  margin-top: 15px;
  width: 70%;
  padding: 10px;
  background-color: #e3fff9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.icon-box svg {
  width: 17px;
}

.text .h3 {
  // font-family: "Lucida Sans" sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: black;
  margin-top: 5px;
}

.text .p {
  // font-family: "Lucida Sans" sans-serif;
  color: #000;
  font-weight: 600;
  margin-top: 20px;
  font-size: 18px;
}

.text .type {
  // font-family: "Lucida Sans" sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 25px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.price .money {
  font-size: 35px;
  font-weight: 700;
  padding: 10px;
  color: #d4ab9d;
}

.price .month {
  font-weight: 510;
  font-size: 22px;
  margin-top: 6px;
  color: #d4ab9d;
}
