.btn-active {
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  background: linear-gradient(to bottom, #46c9dd 0%, #4f8fe8 100%);
  color: white;
  padding: 0.7em 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 27px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.btn-active:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.btn-active:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-active span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.btn-active svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.btn-active .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.btn-active:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.btn-active:hover svg {
  transform: rotate(45deg);
}
