.btn-enable {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  border: 0;
  box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
  background-color: hsl(210deg 100% 44%);
  border-radius: 12px;
  overflow: hidden;
  transition: 31ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.btn-enable:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
}

.btn-enable:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.btn-enable:hover:before {
  transition: all 0s;
  transform: translateY(100%);
  opacity: 0;
}

.btn-enable i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
}

.btn-enable:hover i {
  transition: all 0.2s ease;
  transform: translateY(0px);
  opacity: 1;
}

.btn-enable:hover i:nth-child(1) {
  transition-delay: 0.045s;
}

.btn-enable:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
}

.btn-enable:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
}

.btn-enable:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
}

.btn-enable:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
}

.btn-enable:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
}

.btn-enable:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
}

.btn-enable:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
}

.btn-enable:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
}
